<h2><%= t('rapidfire.attempts.header') -%></h2>
<hr/>

<p><%= @survey.introduction %></p>

<%= form_for([@survey, @attempt_builder]) do |f| %>
  <%- @attempt_builder.sections.each do |section_id, answers| %>
    = render partial: "rapidfire/sections/section", locals: { f: f, section)id: section_id, answers: answers }
  <% end %>
  <%= f.submit submit_text %>
<% end %>
